html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.p-page {
    position: relative;
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
}


.p-page_center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    position: absolute;
}

.p-maincontainer {
    border: 1px solid #99cfe7;
    padding: 5px;
}


.b-layout-table {
    width: 100%;
}

.b-layout-table__header {
    padding: 10px;
    background-color: #99cfe7;
}

.b-layout-table__cell {
    padding: 10px;
}

.b-layout-table__row {
}

.b-layout-table__active {
    animation-name: fadeIn;
    animation-duration: 0.5s;
}

.b-layout-table__inactive {
    background-color: white;
}


@keyframes fadeIn {
    0% {
        background-color: #99cfe7;
    }

    100% {
        background-color: white;
    }
}
